/* FONT INTEGRATION ---------------------------- */

 @font-face {
  font-family:'Favorit';
  font-style: normal;
  font-weight: 400;
  src: local('Favorit'), url('fonts/favorit-regular.otf') format('opentype');
}

@font-face {
  font-family:'Favorit';
  font-style: normal;
  font-weight: 500;
  src: local('Favorit'), url('fonts/favorit-medium.otf') format('opentype');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* PRE-GIVEN .CARD VALUES ---------------------------- */

.card {
  width: 300px;
  height: 540px;
  margin: 40px auto 0 auto;
}

/* OVERALL CARD STYLES ---------------------------- */

.card {
  font-family:'Favorit',sans-serif;
  box-shadow: 0px 8px 24px -6px rgba(0, 0, 0, 0.25);
  border-radius: 24px;
  padding:0px;
  color: #fff;

  /* ANIMATE */
  animation-duration: 1s;
  animation-name: ani-one;
  animation-delay: 0.3s;
  animation-fill-mode: backwards;
}

.card-top, .card-bottom{
  padding:26px;

  /* ANIMATE */
  animation-duration: 3s;
  animation-delay: 0s;
  animation-fill-mode: backwards;
}

/* DETAILS: CARD-TOP ---------------------------- */

.card-top{
  background-image:url('img/img.jpg');
  height:66%;
  background-repeat: no-repeat;
  background-size: 320px 380px;
  border-radius: 24px 24px 0px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;

  /* ANIMATE */
  animation-name: ani-three;
}

.lineup, .event-image{
  /* ANIMATE */
  animation-duration: 1s;
  animation-name: ani-two;
  animation-delay: 1s;
  animation-fill-mode: backwards;
}

h1.lineup{
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}

.event-image{
  height:100%;
  width:auto;
}

/* DETAILS: CARD-BOTTOM ---------------------------- */

.card-bottom {
  background-color:black;
  height:34%;
  border-radius: 0px 0px 24px 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  /* ANIMATE */
  animation-name: ani-four;
}

.card-bottom>div{
  width:100%;
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  align-content: flex-end;
}

.description,.card-bottom>div {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  
  /* ANIMATE */
  animation-duration: 1s;
  animation-name: ani-five;
  animation-delay: 2s;
  animation-fill-mode: backwards;
}

.date{
  color:#FFD600;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.11em;
  height:auto;
  display: flex;
  align-items: flex-end;
}

.button{
  padding:2px;
  background-color:#FFD600;
  border-radius: 100px;
  left:960px;
  top:340px;
  transition-duration: 0.5s;
}

.button>p{
  color:black;
  font-family: "Anicons Regular", sans-serif;
  text-align: center;
  font-size:30px;
  line-height: 40px;
  width:40px;
  height:40px;
  font-variation-settings: "TIME" 1;
  transition: font-variation-settings 0.5s ease;
}

/* HOVER FUNCTION ON THE ROUND BUTTON */

.button:hover{
  cursor:pointer;
  transition-duration: 0.5s;
  box-shadow: 0px 0px 30px rgba(255, 214, 0, 0.9);
}

.button>p:hover{
  font-variation-settings: "TIME" 100;
  transition: font-variation-settings 0.5s ease;
}

/* KEYFRAMES ANIMATION ---------------------------- */

/* MAKING CARD VISIBLE */
@keyframes ani-one {
  0% { opacity: 0; height:500px;}
  100% { opacity: 1; height:540px;}
}

/* MAKING TOP ELEMENTS VISIBLE */
@keyframes ani-two {
  0% { opacity: 0; padding:30px 0px;}
  100% { opacity: 1; padding:0px;}
}

/* RESIZE CARD-TOP */
@keyframes ani-three {
  0% { height:70%;}
  66% { height:70%;}
  100% { height:66%;}
}

/* RESIZE CARD-BOTTOM */
@keyframes ani-four {
  0% { height:30%;}
  66% { height:30%;}
  100% { height:34%;}
}

/* MAKING BOTTOM ELEMENTS VISIBLE */
@keyframes ani-five {
  0% { opacity: 0;}
  100% { opacity: 1;}
}